# Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Operating system files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node modules if using npm scripts
node_modules/

# Log files
*.log
