# Site settings
title: AIUL - AI Usage License Project
email:
description: >-
  Standardizing AI usage in digital arts, empowering educators and students with clear AI usage guidelines.
baseurl: "/aiul" # the subpath of your site, e.g. /blog
url: "https://dmd-program.github.io" # the base hostname & protocol for your site

# Social media and SEO
logo: /aiul/assets/images/hero-image.jpg
social:
  name: AIUL - AI Usage License Project
  links:
    - https://github.com/dmd-program/aiul

# Twitter card and Open Graph settings
twitter:
  card: summary_large_image
  
defaults:
  - scope:
      path: ""
    values:
      image: /aiul/assets/images/hero-image.jpg

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-redirect-from

# Added hooks to run Node.js script for generating license images
hooks:
  pre_build:
    - scripts/generate-license-images.js

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - scripts/node_modules
  - scripts/temp.svg
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md

# Navigation
navigation:
  - {name: Home, link: '/'}
  - {name: Licenses, link: '/licenses.html'}
  - {name: Guide, link: '/guide.html'}
  - {name: API, link: '/api-docs/'}
  - {name: Tag Generator, link: '/tag-generator.html'}
  - {name: Usage Declaration, link: '/declaration-generator.html'}
  - {name: Resources, link: '/resources.html'}

# Collections
collections:
  licenses:
    output: false
  modifiers:
    output: false
  aiul:
    output: true