<!-- Footer -->
<footer>
  <p class="bold">AI Usage License Project created by faculty in the Penn State DMD Program. CC-BY-4.0</p>
  <p>
    Submit issues or suggestions here: <a class="bold" href="https://github.com/dmd-program/aiul/issues">https://github.com/dmd-program/aiul/issues</a>
  </p>
  <p>
    Note: This project is an intial draft to gather community feedback, and is not necessarily a functional website nor does it contain finalized language.
  </p>
  <p class="footer-links">
    <a href="{{ '/legal-disclaimer.html' | relative_url }}">Legal Disclaimer</a>
  </p>
</footer>
